{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="container">
    <div class="mt-5">
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="exampleFormControlSelect1">Choose a semester</label>
                <select class="form-control" id="exampleFormControlSelect1" name="semester">
                    <option value="Summer">Summer</option>
                    <option value="Fall">Fall</option>
                    <option value="Spring">Spring</option>
                </select>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect2">Choose a Year</label>
                <select class="form-control" id="exampleFormControlSelect2" name="year">
                    <option value=2019>2019</option>
                    <option value=2020>2020</option>
                    <option value=2021>2021</option>
                </select>
            </div>
            <button class="btn btn-success">Submit</button>
        </form>
    </div>
    {% if sections %}
    <div>
        <table class="table table-borderless table-striped">
            <thead>
                <tr>
                    <h1>Offered Courses for {{semester}} {{year}}</h1>
                </tr>
                <tr>
                    <th scope="col">Course</th>
                    <th scope="col">Section</th>
                    <th scope="col">Credits</th>
                    <th scope="col">Time Slot</th>
                    <th scope="col">Classroom</th>
                    <th scope="col">Faculty</th>
                    <th scope="col">Capacity</th>
                </tr>
            </thead>
            <tbody>
                {% for section in sections %}
                <tr>
                    <td>{{section.course.course_id}}</td>
                    <td>{{section.sec_id}}</td>
                    <td>{{section.course.credits}}</td>
                    <td>{{section.time_slot.day}}({{section.time_slot.start_hr}}:{{section.time_slot.start_min}}-{{section.time_slot.end_hr}}:{{section.time_slot.end_min}})
                    </td>
                    <td>{{section.classroom.building}}-{{section.classroom.room_number}}</td>
                    <td>{{section.instructor.instructor_id}}</td>
                    <td>{{section.capacity}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div>
        Select a valid semester and year
    </div>
    {% endif %}
</div>

{% endblock %}