body{
    margin:0%;
    padding: 0%;
    animation: transitionIn 2s;
}
#loading{
    width: 100%;
    height: 100%;
    background: white url(loading.gif) no-repeat center;
    overflow-y: auto;

    z-index: 999999;
    position: fixed;
    top: 0;
    left: 0;
}
#header{
    height:80px;
    background-color: #C70039;
    display:flex;
}
#Advising-header{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 30px;
}
#display{
    display: flex;
    overflow-y: auto;
}
#block1{
    max-height: 450px;
    background-color: rgb(243, 243, 243);
    margin-top: 8%;
    margin-left: 10%;
    overflow: auto;
    overflow-x: hidden;
    border-radius: 10px;
    box-shadow: 7px 7px 7px grey;
}

#border{
    height: 620px;
    width: 7px;
    border-radius: 10px;
    background-color: #005BFF ;
    margin-left: 5%;
    margin-top: 1%;
    
    
}
#advising-courses {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;    
    text-align: center;
    border-spacing: 0px;
    
    
}
#advising-courses th{
     position: sticky;
     top: 0;
}

#backbtn{
    height: 40px;
    width: 40px;
}
#backbtn:hover{
    height: 50px;
    width: 50px;
    transition: 0.3s ease-in-out;
}
#back{
    margin-top: 1.2%;
    margin-left: 2%;
}


th{
    
    width: 160px;
    height: 50px;
    background-color: white;
    border-top: 3px solid blue;
    border-bottom: 3px solid blue;
        
 }
 td{
    height: 60px;
 }
 #advising-courses td a{
     text-decoration: none;
 }
 #selected-courses{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;    
    text-align: center;
    border-spacing: 0px;
 }
 #selected-courses th{
    position: sticky;
    top: 0;
}
#selected-courses-header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: grey;
    margin-left: 35%;
    position: sticky;
    top: 0;
}
#block2{
    max-height: 600px;
    overflow: auto;
    overflow-x: hidden;
}
#printslip{
    color: chartreuse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin-left: 1%;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: 3px solid chartreuse;    
}
#printslip:hover{
    color: white;
    background-color: chartreuse;
    transition: 0.3s ease-in;
    animation: anim-shadow 0.3s forwards;
    
}
 ::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    border-radius: 5px;
    box-shadow: inset 0 0 10px rgb(0,0,0,0.25);
}
::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #08ff77;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #61dd9f;
}

@keyframes anim-shadow{
    100%{
        box-shadow: 5px 5px 1px 1px grey;
    }
}
@keyframes transitionIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
@media screen and (min-width:540px) and (max-width:541px) {
    #block1{
        width: 500px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 12px;
    }
    #selected-courses{
        font-size: 12px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
}
@media screen and (min-width:414px) and (max-width:415px) {
    #block1{
        width: 390px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 8px;
    }
    #selected-courses{
        font-size: 8px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
    #header{
        height:70px;
        background-color: #C70039;
    }
    #Advising-header{
        font-size: 25px;
    }
}
@media screen and (min-width:411px) and (max-width:412px) {
    #block1{
        width: 385px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 8px;
    }
    #selected-courses{
        font-size: 8px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
    #header{
        height:70px;
        background-color: #C70039;
    }
    #Advising-header{
        font-size: 25px;
    }
}
@media screen and (min-width:375px) and (max-width:376px) {
    #block1{
        width: 355px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 8px;
    }
    #selected-courses{
        font-size: 8px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
    #header{
        height:70px;
        background-color: #C70039;
    }
    #Advising-header{
        font-size: 25px;
    }
}
@media screen and (min-width:360px) and (max-width:361px) {
    #block1{
        width: 335px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 6px;
    }
    #selected-courses{
        font-size: 6px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
    #selected-courses-header{
        margin-left: 30%;
    }
    #header{
        height:70px;
        background-color: #C70039;
    }
    #Advising-header{
        font-size: 25px;
    }
}
@media screen and (min-width:320px) and (max-width:321px) {
    #block1{
        width: 300px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 6px;
    }
    #selected-courses{
        font-size: 6px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
    #selected-courses-header{
        margin-left: 30%;
    }
    #header{
        height:70px;
        background-color: #C70039;
    }
    #Advising-header{
        font-size: 25px;
    }
    
}
@media screen and (min-width:280px) and (max-width:281px) {
    #block1{
        width: 250px;
        height: 500px;
        margin-left: 4%;
    }
    #advising-courses {
        font-size: 6px;
    }
    #selected-courses{
        font-size: 6px;
    }
    #border{
        display: none;
    }
    #display{
        display: inline;
    }
    #block2{
        margin-top: 5%;
        overflow: auto;
    }
    #selected-courses-header{
        margin-left: 28%;
    }
    #header{
        height:70px;
        background-color: #C70039;
    }
    #Advising-header{
        font-size: 25px;
    }
    
}