body{
    margin:0%;
    padding: 0%;
    
}
#header{
    height:80px;
    background-color: #C70039;
    display: flex;
}
#GradeReport-header{
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-top: 1%;
    margin-left: 2%;
    font-size: 30px;
}
#heading{
    color: grey;
    display: inline-block;
    margin-left: 38%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
#frstLabel{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 27%;
    
}
#semester{
    margin-left: 1%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    border: none;
    border-bottom: 1px solid grey;
    outline: none;

    
}


#backbtn{
    height: 40px;
    width: 40px;
}
#backbtn:hover{
    height: 50px;
    width: 50px;
    transition: 0.3s ease-in-out;
}
#back{
    margin-top: 1.2%;
    margin-left: 2%;
}


#scndLabel{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 3%;
}
#year{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    width: 150px;
    margin-left: 1%;
    border-bottom: 1px solid grey;
    outline: none;
}
option {
    
    color: rgb(90, 89, 89);

}
#submit{
    color: chartreuse;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: white;
    margin-left: 1%;
    height: 35px;
    width: 100px;
    border-radius: 20px;
    border: 3px solid chartreuse;
    font-weight: bolder;
    
   
    
}
#submit:hover{
    color: white;
    background-color: chartreuse;
    transition: 0.3s ease-in;
    animation: anim-shadow 0.3s forwards;
    
}
@keyframes anim-shadow{
    100%{
        box-shadow: 5px 5px 1px 1px grey;
    }
}





