{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/cgpa calculator.css' %}">
    <title>CGPA CALCULATOR</title>

</head>
<body>
    <h2 id="header">CGPA CALCULATOR</h2>
    <div>
        <a href="{% url 'home' %}">back to home</a>
    </div>
    <div id="container">
        <table id="tbl">
            
            <tr>
                <th id="ccg">Course</th>
                <th id="ccg">Credits</th>
                <th id="ccg">GPA</th>
            </tr>
            
        <tbody id="tbody">
            <tr>
                <td><input type="text" ></td>
                <td><input type="number" id="credits"></td>
                <td><input type="number" id="gpa"> </td>
                <td><button id="cross" onclick="remove(this)">X</button></td>
            </tr>
        </tbody>
        </table>
        <button id="AddSubject" onclick="add('tbody')">Add Subject</button>
        <button id="Count" onclick="count('tbody')">Count</button>
        <p id="CGPAtxt">CGPA: <p id="CGPAcount"></p></p><br>
    </div>
    <script src="{% static 'js/cgpa calculator.js' %}"></script>
</body>
</html>