{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/FacultyAdvising.css' %}" />
    <link rel="icon" type="image/png" href="{%static 'images/graduationcap.png' %}">
    <title>Advising</title>
</head>
<body onload="preloader()">
    <div id="loading">

    </div>
    <div id="header">
        <br>
        <a href="{% url 'home' %}" id="back"><img src="{% static 'images/back button.png' %}" id="backbtn"></a>
     <h3 id="Advising-header">Advising</h3> 
    </div>
    <div id="display">
        <div id="block1">
            <table id="advising-courses">
                    <tr>
                        <th>Courses</th>
                        <th>Section</th>
                        <th>Credits</th>
                        <th>Time-Slot</th>
                        <th>Seat Remaining</th>
                    </tr>
                    {% for offeredSection in offeredSections %}
                    <tr>
                        {% if offeredSection.course.credits == 0.0%}
                        <td>{{offeredSection.course.course_id}}</td>
                    {% else %}
                    <td><a href="{% url 'facultyAddCourse' offeredSection.id %}">{{offeredSection.course.course_id}}</a></td>
                    {% endif %}
                    {% if offeredSection.course.credits == 0.0%}
                        <td></td>
                    {% else %}
                        <td>{{offeredSection.course.credits}}</td>
                    {% endif %}
                    <td>{{offeredSection.secId}}</td>
                    <td>{{offeredSection.timeSlot.day}} {{offeredSection.timeSlot.start_hr}}:{{offeredSection.timeSlot.start_min}}-{{offeredSection.timeSlot.end_hr}}:{{offeredSection.timeSlot.end_min}}</td>
                    <td>{{offeredSection.capacity}}</td>
                    </tr>
                    {% endfor %}
                   
            </table>
        </div>
        <div id="border">
            
        </div>
        <div id="block2">
            <h3 id="selected-courses-header">Advised Course</h3>
            <table id="selected-courses">
                <tr>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Credits</th>
                    <th>Time-Slot</th>
                    <th>Action</th>
                </tr>

                {% for advisedSection in advisedSections %}
                    <tr>
                        <td>{{advisedSection.section.course.course_id}}</td>
                        <td>{{advisedSection.section.secId}}</td>
                        {% if advisedSection.section.course.credits == 0.0 %}
                            <td></td>
                        {% else %}
                        <td>{{advisedSection.section.course.credits}}</td>
                        {% endif %}
                        <td>{{advisedSection.section.timeSlot.day}} {{advisedSection.section.timeSlot.start_hr}}:{{advisedSection.section.timeSlot.start_min}}
                            -{{advisedSection.section.timeSlot.end_hr}}:{{advisedSection.section.timeSlot.end_min}}
                        </td>
                        {% if advisedSection.section.course.credits == 0.0 %}
                            <td></td>
                        {% else %}
                            <td><a href="{% url 'facultyDeleteCourse' advisedSection.id %}">Delete</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}

            </table>
        </div>

    </div>
    <script>
        function preloader(){
            var preloader=document.getElementById("loading");
            preloader.style.display="none";
        }
        
    </script>
</body>
</html>