{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/GradeReport.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'css/Offered_courses.css' %}">
    <title>Grade Report</title>
</head>

{% comment %} <style>
    #TermCGPA{
        margin-left: 19%;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: red;
        margin-top: 2%;
        font-weight: bold;
     }
    } {% endcomment %}
</style>

<body>
    <div id="header">
        <br>
        <a href="{% url 'home' %}" id="back"><img src="{% static 'images/back button.png' %}" id="backbtn"></a>
     <h3 id="GradeReport-header">Grade Report</h3> 
    </div>
    <h2 id="heading">Grade Report for {{request.user.username}}</h2><br>
    <form method="post" action="">
    {% csrf_token %}
    <label id="frstLabel">Choose Semester:
        <select id="semester" name="semester">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>   
        </select>
    </label>
    <label id="scndLabel">Choose year:
        <select id="year" name="year">
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
    </label>
<button id="submit">Show</button>
</form>
{% if request.method == "POST" %}
<table id="Courses">
     <tr>
         <th>Course</th>
         <th>Title</th>
         <th>Credits</th>
         <th>Grade</th>
     </tr>
     {% for take in takes %}
        <tr>
            {% if take.section.course.title != 'LAB' %}
                <td>{{take.section.course}}</td>
                <td>{{take.section.course.title}}</td>
                <td>{{take.section.course.credits}}</td>
                <td>{{take.grade}}</td>
            {% endif %}
        </tr>
        {% endfor %}
</table>
{% endif %}
    {% if request.method == "POST" %}
        <p id="TermCGPA">Term CGPA: {{termCGPA}}</p>
    {% endif %}
</body>
</html>