{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    
    <title>Advising Portal</title>
</head>
<body>
    <div id="header">
        <Button id="sidebar-button" onclick="slide()"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAABmJLR0QA/wD/AP+gvaeTAAAAVElEQVRoge3WwQ2AUAhEQb6xcK0ci5AEQmYq2L29CAAanMx8ukdUOJmZ3SMqXN0DqjgyzR0Rb/cIAKCIjJ9mTTQ6Mo2MB4BNZPw0a6LRkWlkPAB/fId1GBOc3m2dAAAAAElFTkSuQmCC" height="30px" width="30px"></Button>
        <ul id="header-option">
            {% if user.is_authenticated %}
                {% if user.first_name or user.last_name is not null%}
                    <li>Hello {{user.first_name}}</li>
                {% endif%}
                <li><a href="accounts/logout/">Log Out</a></li>
            {% else %}
                <li><a href="accounts/register/">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
        </ul>
    </div>
    <h1 id="msg">WELCOME TO ADVISING PORTAL</h1>
    <div id="sidebar" >
    
       <ul id="menu">
           <li> <a id="close" onclick="inside()">&times;</li><a></li>
           <li><a href=#>Advising</a></li>
           <li><a href="#">Grade Report</a></li>
           <li><a href="accounts/cgpa">CGPA Calculator</a></li>
            {% if user.is_authenticated %}
           <li><a href="{% url 'profile' %}">Profile</a></li>
           {% endif %}
       </ul>
    </div>
    <script src="{% static 'js/home.js' %}"></script>
    
</body>
</html>