{% comment %} {% load static %} {% endcomment %}
{% comment %} {% static "images" as baseURL %} {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Advising Portal</title>
</head>
<body>
    <h1>Home Page</h1>
     <ul>
        {% if user.is_authenticated %}
        <li>Hello {{user.first_name}}</li>
        <li><a href="accounts/logout">Logout</a></li>
        {% else %}
        <li><a href="accounts/register">Register</a></li>
        <li><a href="accounts/login">Login</a></li>
        {% endif %}
        <li><a href="accounts/cgpa">CGPA</a></li>
        </ul>
        <div>
            {% if user.is_authenticated %}
                {% if user.img.url is not '0' %}
                    <img src="{{user.img.url}}" alt="{{user.img.url}}"/>
                {% else %}
                    <h1>Upload Pic in admin panel</h1>
                {% endif %}
            {% endif %}
        </div>
</body>
</html>
