<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
   <style>
        body{
          font-size: 2em;
          background-color:cyan;
        }
    </style>
</head>
<body>
	<form action="login" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="User Name"><br>
      <input type="password" name="password" placeholder="Password"><br>
      <input type="Submit"><br>
      <div>
        {% for message in messages %}
        <p id="message">{{message}}</p>
        {% endfor %}
      </div>
    </form>
</body>
</html>