{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Offered_courses.css' %}">
    <title>Offered Courses</title>
</head>
<body>
    <div id="header">
        <br>
     <h3 id="OfferedCourse-header">Offered Courses</h3> 
    </div>
    <div>
        <a href="{% url 'home' %}">back to home</a>
    </div>
     <h2 id="heading">Offered Course For {{semester}} {{year}}</h2><br>
    <i id="note">N.B: <b id="text">Select Semester and Year first</b></i><br><br>
    <form method="POST">
    {% csrf_token %}
    <b id="str1">*</b>&nbsp;&nbsp;&nbsp;<label for="semester">Choose a semester</label>
    <select id="semester" name="semester">
        <option value="Summer">Summer</option>
        <option value="Fall">Fall</option>
        <option value="Spring">Spring</option>
  </select>
    {% comment %} <input type="select" id="semester" name="semester"placeholder="Semester"> {% endcomment %}
    <b id="str2">*</b>&nbsp;&nbsp;&nbsp;<label for="semester">Choose a Year</label>
    <select id="year" name="year">
        <option value=2019>2019</option>
        <option value=2020>2020</option>
        <option value=2021>2021</option>
    </select>
    {% comment %} <input type="number" id="year" name="year"placeholder="Year"> {% endcomment %}
    <button id="submit" >Submit</button>
    </form>
    <table id="Courses">
         <tr>
             <th>Course</th>
             <th>Title</th>
             <th>Section</th>
             <th>Credits</th>
             <th>Time Slot</th>
             <th>Classroom</th>
             <th>Faculty</th>
         </tr>
         {% for teach in teaches %}
            <tr>
                <td>{{teach.section.course.course_id}}</td>
                <td>{{teach.section.course.title}}</td>
                <td>{{teach.section.sec_id}}</td>
                <td>{{teach.section.course.credits}}</td>
                <td>{{teach.section.time_slot.day}}({{teach.section.time_slot.start_hr}}:{{teach.section.time_slot.start_min}}-{{teach.section.time_slot.end_hr}}:{{teach.section.time_slot.end_min}})</td>
                <td>{{teach.section.classroom.building}}-{{teach.section.classroom.room_number}}</td>
                <td>{{teach.teaches_id.instructor_id}}</td>
            </tr>
            {% endfor %}
    </table>
    {% comment %} <script src="{% static 'js/Offered_courses.js' %}"></script> {% endcomment %}
</body>
</html>