{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Offered_courses.css' %}">
    <title>Offered Courses</title>
</head>
<body>
    <div id="header">
        <br>
     <h3 id="OfferedCourse-header">Offered Courses</h3> 
    </div>
    <h2 id="heading">Offered Course For {} Semester</h2>
    <table id="Courses">
         <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Time</th>
            <th>Classroom</th>
            <th>Faculty</th>
         </tr>
            {% for teach in teaches %}
            <tr>
                <td>{{teach.section.course.course_id}}</td>
                <td>{{teach.section.course.title}}</td>
                <td>{{teach.section.course.credits}}</td>
                <td>{{teach.section.time_slot.day}}({{teach.section.time_slot.start_hr}}:{{teach.section.time_slot.start_min}}-{{teach.section.time_slot.end_hr}}:{{teach.section.time_slot.end_min}})</td>
                <td>{{teach.section.classroom.building}}-{{teach.section.classroom.room_number}}</td>
                <td>{{teach.teaches_id.instructor_id}}</td>
            </tr>
            {% endfor %}

    </table>

    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="Semester" placeholder="Semester_name">
        <input type="Submit">
    </form>

</body>
</html>