<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="schedule.css" />
    <link rel="icon" type="image/png" href="graduationcap.png">
    <title>Schedule</title>
</head>
<body>
    <div id="header">
        <br>
     <h3 id="Schedule-header">Class Schedule</h3> 
    </div>
    <br><br><br>
    <label id="frstLabel">Choose Semester:
        <select id="semester" name="semester">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>   
        </select>
    </label>
    <button id="submit">Show</button>
    <table id="Courses">
        <tr>
            <th>Serial</th>
            <th>Course</th>
            <th>Section</th>
            <th>Credits</th>
            <th>Timing</th>
            <th>Faculty Initial</th>
            <th>Faculty Name</th>
            <th>Faculty Email</th>
            
        </tr>
        <tr>
            <td>1</td>
            <td>CSE350</td>
            <td>2</td>
            <td>4.5</td>
            <td>MW 1.30-3.00</td>
            <td>DWAR</td>
            <td>Dr.Wasif Reza</td>
            <td>Wasif@ewu.edu</td>
        </tr>
           
   </table>

    
</body>
</html>