{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/schedule.css' %}" >
    <link rel="icon" type="image/png" href="{% static 'images/graduationcap.png' %}">
    <title>Schedule</title>
</head>
<body>
    <div id="header">
        <br>
        <a href="{% url 'home' %}" id="back"><img src="{% static 'images/back button.png' %}" id="backbtn"></a>
        <h3 id="Schedule-header">Class Schedule</h3> 
    </div>
    <br><br><br>
    <form method="POST">
    {% csrf_token %}
    <label id="frstLabel">Choose Semester:
        <select id="semester" name="semester">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>   
        </select>
    </label>
    <label id="ScndLabel">Choose year:
        <select id="year" name="year">
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>   
        </select>
    </label>
    <button id="submit">Show</button>
    </form>
    <table id="Courses">
        <tr>
            <th>Course</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Section</th>
            <th>Timing</th>
            <th>Room No</th>
            <th>Faculty Initial</th>
            <th>Faculty Name</th>
            <th>Faculty Email</th>
            
        </tr>
        {% for take in takes %}
        <tr>
            <td>{{take.section.course.course_id}}</td>
            <td>{{take.section.course.title}}</td>
            {% if take.section.course.credits != 0.0%}
                <td>{{take.section.course.credits}}</td>
            {% else %}
                <td></td>
            {% endif %}
            <td>{{take.section.secId}}</td>
            <td>{{take.section.timeSlot.start_hr}}:{{take.section.timeSlot.start_min}}-{{take.section.timeSlot.end_hr}}:{{take.section.timeSlot.end_min}}</td>
            <td>{{take.section.classroom}}</td>
            <td>{{take.section.instructor.instructorId}}</td>
            <td>{{take.section.instructor.firstName}} {{take.section.instructor.lastName}}</td>
            <td>{{take.section.instructor.email}}</td>
        </tr>
        {% endfor %}   
   </table>

    
</body>
</html>