{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/schedule.css' %}" />
    <link rel="icon" type="image/png" href="{% static 'graduationcap.png' %}">
    <title>Schedule</title>
</head>
<body>
    <div id="header">
        <br>
     <h3 id="Schedule-header">Class Schedule</h3> 
    </div>
    <br><br><br>
    <form method="POST">
    {% csrf_token %}
    <label id="frstLabel">Choose Semester:
        <select id="semester" name="semester">
            <option value="Spring">Spring</option>
            <option value="Summer">Summer</option>
            <option value="Fall">Fall</option>   
        </select>
    </label>
    <button id="submit">Show</button>
    </form>
    {% if request.method == "POST" %}
        <table id="Courses">
            <tr>
                <th>Course</th>
                <th>Section</th>
                <th>Credits</th>
                <th>Timing</th>
                <th>Faculty Initial</th>
                <th>Faculty Name</th>
                <th>Faculty Email</th>
                
            </tr>
            {% for take in takes %}
                <tr>
                    <td>{{take.section.course}}</td>
                    <td>{{take.section.secId}}</td>
                    {% if take.section.course.credits != 0.0%}
                        <td>{{take.section.course.credits}}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                    <td>{{take.section.timeSlot.start_hr}}:{{take.section.timeSlot.start_min}}-{{take.section.timeSlot.end_hr}}:{{take.section.timeSlot.end_min}}</td>
                    <td>{{take.section.instructor.instructorId}}</td>
                    <td>{{take.section.instructor.firstName}} {{take.section.instructor.lastName}}</td>
                    <td>{{take.section.instructor.email}}</td>
                </tr>
            {% endfor %}
        {% endif %}
           
   </table>

    
</body>
</html>