{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Section.css' %}">
    <title>Section</title>
</head>
<body>
    <div id="header">
        <br>
        <a href="{% url 'home' %}" id="back"><img src="{% static 'images/back button.png' %}" id="backbtn"></a>
     <h3 id="OfferedCourse-header">Sections for {{instructor.instructorId}}</h3> 
    </div>
     <h2 id="heading">Offered Courses For {{semester}} {{year}}</h2><br>
    <i id="note">N.B: <b id="text">Select Semester and Year first</b></i><br><br>
    <form method="POST">
    {% csrf_token %}
    <b id="str1">*</b>&nbsp;&nbsp;&nbsp;<label for="semester">Choose a semester</label>
    <select id="semester" name="semester">
        <option value="Summer">Summer</option>
        <option value="Fall">Fall</option>
        <option value="Spring">Spring</option>
  </select>
    <b id="str2">*</b>&nbsp;&nbsp;&nbsp;<label for="semester">Choose a Year</label>
    <select id="year" name="year">
        <option value=2019>2019</option>
        <option value=2020>2020</option>
        <option value=2021>2021</option>
    </select>
    <button id="submit" >Submit</button>
    </form>
    {% if request.method == "POST" %}
    <table id="Courses">
         <tr>
             <th>Course</th>
             <th>Title</th>
             <th>Section</th>
             <th>Credits</th>
             <th>Time Slot</th>
             <th>Classroom</th>
         </tr>
         {% for section in sections %}
            <tr>
                <td>{{section.course.course_id}}</td>
                <td>{{section.course.title}}</td>
                <td>{{section.secId}}</td>
                <td>{{section.course.credits}}</td>
                <td>{{section.timeSlot.day}}({{section.timeSlot.start_hr}}:{{section.timeSlot.start_min}}-{{section.timeSlot.end_hr}}:{{section.timeSlot.end_min}})</td>
                <td>{{section.classroom.building}}-{{section.classroom.room_number}}</td>
            </tr>
            {% endfor %}
    </table>
    {% endif %}
</body>
</html>