{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Student_profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <div id="header">
        <br>
        <a href="{% url 'home' %}" id="back"><img src="{% static 'images/back button.png' %}" id="backbtn"></a>
     <h3 id="profile-header">PROFILE</h3> 
    </div>
    <div id="img-profile">
        <img src="{{request.user.student.img.url}}" alt="">
    </div>
    <div id="table">
    <table id="info">
        <tr>
            <th>First Name:</th>
            <td>{{request.user.student.firstName}}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{request.user.student.lastName}}</td>
        </tr>
        <tr>
            <th>Student ID:</th>
            <td>{{request.user.student.studentId}}</td>
        </tr>
        <tr>
            <th>Advisor:</th>
            <td>{{advisor.i.firstName}} {{advisor.i.lastName}}</td>
        </tr>
        <tr>
            <th>Blood Group:</th>
            <td>{{request.user.student.bloodGroup}}</td>
        </tr>
        <tr>
            <th>Present Adress:</th>
            <td>{{request.user.student.presentAddress}}</td>
        </tr>
        <tr>
            <th>Phone Number:</th>
            <td>{{request.user.student.phoneNumber}}</td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{request.user.student.email}}</td>
        </tr>
    </table>
</div>
<div>
    <a id="table" href="{% url 'editStudentProfile' %}">Edit Profile</a>
</div>

</body>
</html>