{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/Student_profile.css' %}">
    <title>Profile</title>
</head>
<body>
    <div id="header">
        <br>
     <h3 id="profile-header">PROFILE</h3> 
    </div>
    {% if user.img.url is not '0' %}
    <div id="img-profile">
        <img src="{{user.img.url}}">
    </div>
        {% else %}
        <div id="img-profile">
            <img src="" alt="">
            </div> 
    {% endif %}
    <div id="table">
    <table id="info">
        <tr>
            <th>First Name:</th>
            <td>{{user.first_name}}</td>
        </tr>
        <tr>
            <th>Last Name:</th>
            <td>{{user.last_name}}</td>
        </tr>
        <tr>
            <th>Student ID:</th>
            <td>{{user.studentId}}</td>
        </tr>
        <tr>
            <th>Admitted Semester:</th>
            <td>{{user.admitted_semester}}</td>
        </tr>
        <tr>
            <th>Advisor:</th>
            <td>{{user.advisor}}</td>
        </tr>
        <tr>
            <th>Blood Group:</th>
            <td>{{user.blood_group}}</td>
        </tr>
        <tr>
            <th>Present Adress:</th>
            <td>{{user.present_address}}</td>
        </tr>
        <tr>
            <th>Phone Number:</th>
            <td>{{user.phone_number}}</td>
        </tr>
        <tr>
            <th>E-mail:</th>
            <td>{{user.email}}</td>
        </tr>
    </table>
</div>

</body>
</html>