{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/TakeSection.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/graduationcap.png' %}">
    <title>Student List</title>
</head>
<body>
    <div id="header">
        <br>
        <a href="{% url 'home' %}" id="back"><img src="{% static 'images/back button.png' %}" id="backbtn"></a>
        <h3 id="TakeSection-header">Student List</h3> 
    </div>
    <div>
    </div>
     <h2 id="heading">Student List {{semester}} {{year}}</h2><br>
    <i id="note">N.B: <b id="text">Select Semester and Year first</b></i><br><br>
    <form method="POST">
    {% csrf_token %}
    <label for="semester" id="frstLabel">Choose a semester</label>
    <select id="semester" name="semester">
        <option value="Summer">Summer</option>
        <option value="Fall">Fall</option>
        <option value="Spring">Spring</option>
  </select>
     <label for="semester" id="scndLabel">Choose a Year</label>
    <select id="year" name="year">
        <option value=2019>2019</option>
        <option value=2020>2020</option>
        <option value=2021>2021</option>
    </select>
    <button id="submit" >Submit</button>
    </form>
    <table id="Courses">
         <tr>
            <th>Student Id</th>
            <th>Course</th>
            <th>Section</th>
            <th>Grade</th>
         </tr>
         {% for take in takes %}
         {% if take.section.course.credits != 0.0 %}
            <tr>
                <td>{{take.takes_id.studentId}}</td>
                <td>{{take.section.course.course_id}}</td>
                <td>{{take.section.secId}}</td>
                <td>{{take.grade}}</td>
            </tr>
            {% endif %}
            {% endfor %}
    </table>
</body>
</html>